
@import 'tailwindcss';
@tailwindcss /forms;
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-*: initial;
    --font-gilroy: gilroy, sans-serif;
    --font-space_grotesk: Space Grotesk, sans-serif;
    --font-mono: mono, sans-serif;

    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1568px;

    --color-*: initial;
    --color-transparent: transparent;
    --color-current: currentColor;
    --color-white: #ffffff;
    --color-black: #08111f;
    --color-primary: #001e2b;
    --color-secondary: #07d673;

    --color-success: #014e3d;
    --color-success-light: #008000;

    --color-gray: #5d6c74;
    --color-gray-dark: #d3daf0;

    --animate-spin-slow: spin 5s linear infinite;

    --rotate-x-180: rotateX(180deg);
}

@layer base {
    @font-face {
        font-family: 'gilroy';
        src:
            url('/assets/fonts/Gilroy-Light.woff2') format('woff2'),
            url('/assets/fonts/Gilroy-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gilroy';
        src:
            url('/assets/fonts/Gilroy-Medium.woff2') format('woff2'),
            url('/assets/fonts/Gilroy-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gilroy';
        src:
            url('/assets/fonts/Gilroy-SemiBold.woff2') format('woff2'),
            url('/assets/fonts/Gilroy-SemiBold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gilroy';
        src:
            url('/assets/fonts/Gilroy-Bold.woff2') format('woff2'),
            url('/assets/fonts/Gilroy-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gilroy';
        src:
            url('/assets/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
            url('/assets/fonts/Gilroy-ExtraBold.woff') format('woff');
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gilroy';
        src:
            url('/assets/fonts/Gilroy-Heavy.woff2') format('woff2'),
            url('/assets/fonts/Gilroy-Heavy.woff') format('woff');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    button:not(:disabled),
    [role='button']:not(:disabled) {
        cursor: pointer;
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@layer components {
    .btn {
        @apply bg-secondary text-success inline-flex rounded-[70px] px-[30px] py-4 text-base font-bold uppercase duration-200 hover:bg-black hover:text-white;
    }

    /* Form */
    .form-input,
    .form-textarea,
    .form-select,
    .form-multiselect {
        @apply focus:border-secondary w-full rounded-full border-2 border-[#001E2B] bg-transparent px-4 py-4 font-semibold text-black !ring-0 !outline-none;
    }

    .portfolio-filter .filter.active button,
    .upcoming-party-filter .filter.active button {
        @apply bg-secondary! text-success!;
    }
}

@layer utilities {
    html {
        @apply scroll-smooth;
    }

    .ac .ac-header {
        @apply p-5;
    }

    .ac .ac-trigger {
        @apply font-gilroy! hover:text-secondary! flex! w-full items-center justify-between! gap-2 p-0 font-semibold! text-black focus:text-black! dark:focus:text-white!;
    }

    .menus.open-menus {
        @apply ltr:right-0 rtl:left-0;
    }

    .accordion-container .ac.is-active .trigger-icon {
        @apply rotate-180;
    }

    .accordion-container .ac-text {
        @apply !font-gilroy !text-gray !p-0 !pb-5 !text-sm !leading-6 !font-semibold dark:!text-[#9199B5];
    }
}

.sticky-header {
    @apply top-0! bg-primary dark:bg-white;
}

.sticky-header .container {
    @apply px-0;
}

.is-active .ac-header .trigger-icon {
    @apply text-[#FB5D70];
}

.is-active .trigger-icon .plus-icon {
    @apply hidden;
}

.is-active .trigger-icon .minus-icon {
    @apply block;
}

/* Filter */

.project.hidden {
    animation: hide 1s ease 0s 1 normal forwards;
    transform-origin: center;
}
.project.block {
    animation: show 1s ease 0s 1 normal forwards;
    transform-origin: center;
}
@keyframes hide {
    0% {
        transform: scale(1);
        visibility: visible;
    }
    100% {
        transform: scale(0);
        visibility: hidden;
    }
}
@keyframes show {
    0% {
        transform: scale(0);
        visibility: hidden;
    }
    100% {
        transform: scale(1);
        visibility: visible;
    }
}

.bg-gradient.green {
    background: linear-gradient(0deg, rgba(7, 214, 115, 0) 0%, rgba(7, 214, 115, 1) 30%, rgba(7, 214, 115, 0.5) 80%, rgba(7, 214, 115, 0) 100%);
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}
